/* General settings  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  font-size: 62.5%;
  
  --color-white: #FAFAFA;
  --color-black: #101010;
  --color-gray: #8b8b8b;
  --all-transition: all .2s ease;
  --input-focus-opacity: .3;
}
body {
  font-size: 1.6rem;
}
body * {
  font-family: "Inter", sans-serif;
}

/* Main containers */
.wrapper {
  display: flex;
  height: 100vh;
}
.main-container {
  width: 50%;
}
#main {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;

  background: transparent;
}
.content {
  padding: 4rem;
  border-radius: 2rem;

  color: var(--color-black);
  background-color: var(--color-white);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);

  display: grid;
  justify-items: center;
}

/* Text */
.text {
  display: grid;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;

  text-align: center;
  margin-bottom: 3.6rem;
}
.text h1 {
  font-size: 3.6rem;
}
.text h2 {
  font-size: 2rem;
  font-weight: 600;
}

/* Main container of the inputs */
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
#form-div {
  display: grid;
  gap: 2.8rem;
}


/* Configuring all inputs */

/* Color-Picker input */
#color-picker {
  width: 16rem;
  height: 16rem;
  border: 0;
  outline: 0;
}

/* General settings for text input containers */
.input-color-container {
  position: relative;
}
.input-color {
  --font-size-input: 1.8rem;

  display: flex;
  justify-content: center;
  gap: 1rem;  

  width: 25rem;
  padding-block: 1.4rem;
  border-radius: 8rem;

  border: 0;
  outline: .15rem solid var(--color-gray);

  background: none;

  font-size: var(--font-size-input);

  transition: var(--all-transition);
}

/* General settings for focus and placeholder of text inputs */
.input-color:focus-within {
  border: 0;
  outline: .19rem solid var(--color-black);

  color: var(--color-black);
}
.input-color::-webkit-input-placeholder,
.input-color::-moz-input-placeholder,
.input-color::-ms-input-placeholder {
  color: var(--color-gray);
}
.input-color-container:focus-within::-webkit-input-placeholder,
.input-color-container:focus-within::-moz-input-placeholder,
.input-color-container:focus-within::-ms-input-placeholder {
  opacity: var(--input-focus-opacity);
}

/* RGB input */
.input-color#rgb .inputs {
  width: 4.5rem;
  padding-bottom: .1rem;

  border: none;
  border-bottom: .15rem solid var(--color-gray);
  outline: none;

  background-color: transparent;

  text-align: center;
  font-size: var(--font-size-input);

  transition: var(--all-transition);
}
.input-color#rgb .inputs:focus {
  border-bottom: .19rem solid var(--color-black);
}

.input-color#rgb .virgula {
  position: relative;
}
.input-color#rgb .virgula span {
  position: absolute;
  top: -10%;
  right: -.2rem;

  color: var(--color-gray);
  font-size: 2.4rem;
  font-weight: 400;

  transition: var(--all-transition);
}
.input-color#rgb:focus-within .virgula span {
  color: var(--color-black);
}

/* Hex input */
.input-color#hex-container {
  padding-left: 2.4rem;
  justify-content: start;
  gap: .4rem;
}
.input-color#hex-container #hex {
  width: fit-content;

  border: none;
  outline: none;

  background-color: transparent;

  font-size: var(--font-size-input);
  text-transform: uppercase;

  transition: var(--all-transition);
}
.input-color#hex-container .hashtag span {
  color: var(--color-gray);
  font-weight: 300;

  transition: var(--all-transition);
}
.input-color#hex-container:focus-within .hashtag span {
  color: var(--color-black);
}

/* Color Label */
.color-label {
  position: absolute;
  top: -1.15rem;
  left: 2.5rem;
  padding-inline: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 0;
  border-radius: 2rem;
  outline: .15rem solid var(--color-gray);

  color: var(--color-gray);
  font-weight: 600;
  font-size: 1.6rem;

  background-color: var(--color-white);
  backdrop-filter: blur(1rem);

  cursor: default;

  transition: var(--all-transition);
}
.input-color:focus-within ~ .color-label {
  color: var(--color-black);
  outline: .19rem solid var(--color-black);
}

/* Copy button */
.btn-copy:not(.info) {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;

  position: absolute;
  top: -1.5rem;
  right: 2.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 0;
  outline: .15rem solid var(--color-gray);

  background-color: var(--color-white);

  cursor: pointer;

  transition: var(--all-transition);
}
.btn-copy:not(.info):hover {
  transform: scale(1.2);
}
.btn-copy:not(.info):active {
  transform: scale(0.95);
}
.input-color:focus-within ~ .btn-copy {
  outline: .19rem solid var(--color-black);
}
.form .icon-btn-copy {
  fill: var(--color-gray);
}
.input-color:focus-within ~ .btn-copy .icon-btn-copy {
  fill: var(--color-black);
}

/* Gemini AI Button */
.ai-button, .gemini-info {
  display: flex;
  align-items: center;

  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  border-radius: 99rem;

  color: var(--color-black);
  font-weight: 500;
  font-size: 1.6rem;
}
.ai-button {
  padding: .6rem 1.6rem;
  margin-top: 2.4rem;

  cursor: pointer;

  transition: background .2s;
}
.ai-button#goback {
  display: flex;
  align-items: center;
  gap: .5rem;
}
.gemini-info {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);

  justify-content: center;
  padding: .8rem 2.4rem;
}
.gemini-info span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ai-button:hover {
  background-color: #E6E6E6;
}
.ai-button:disabled {
  opacity: 50%;
  cursor: not-allowed;
}
.ai-button.loading:disabled {
  cursor: wait;
}
.ai-button span {
  font-weight: 600;
}

.loading-icon {
  margin-right: .8rem;
  width: 1.8rem;
  height: 1.8rem;
  animation: loadingIconAnimation 1s linear infinite;
}
@keyframes loadingIconAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

.google-logo {
  width: 1.8rem;
  height: 1.8rem;
  margin-left: .5rem;
  margin-right: .25rem;
}

/* Tailwind colors containers */
#tailwind-colors {
  min-height: 500px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .color-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: relative; 

  --width-containers: 30rem;
}
.container .name-container {
  width: var(--width-containers);
  margin: 0;
  padding: .6rem;
  padding-inline: 2.2rem;
  border-radius: 1.2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--color-white);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}
.container .name-container .copy-name-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.container .name-container .name {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--color-black);
  
  cursor: pointer;
}
.container .name-container .btn-copy {
  width: 2.2rem;
  height: 2.2rem;
}
.container .name-container .btn-expand {
  border: 0;
  font-size: 0;
  background: transparent;

  cursor: pointer;
}
.container .name-container .btn-expand img {
  width: 2.8rem;
  height: 2.8rem;

  transition: transform .5s ease;
}
.container.expanded .name-container .btn-expand img {
  transform: rotateX(-180deg);
}
.container .info-container {
  width: var(--width-containers);
  margin: 0;
  padding: .8rem;
  padding-inline: 2.4rem;
  border-radius: 1.2rem;

  display: grid;
  align-items: center;
  gap: 1rem;
  opacity: 0;

  position: absolute;
  bottom: -7rem;
  z-index: 10;

  background-color: var(--color-white);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);

  transition: all .2s ease;
}
.container.expanded .info-container {
  opacity: 1;
}
.container .rgb-container,
.container .hex-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}
.container .info-container .btn-copy {
  cursor: default;
}
.container.expanded .info-container .btn-copy {
  cursor: pointer;
}
.container h4 {
  font-size: 1.6rem;
  font-weight: 800;
  cursor: default;
}
.container.expanded h4 {
  cursor: pointer;
}
.container span {
  font-weight: 500;
}
.btn-copy.info {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 0;
  outline: .15rem solid var(--color-black);

  background-color: var(--color-white);

  cursor: pointer;

  transition: var(--all-transition);
}
.btn-copy.info:hover {
  transform: scale(1.15);
}
.btn-copy.info:active {
  transform: scale(0.9);
}

/* Responsivity */
@media (max-width: 1500px) {
  /* Main container */
  .content {
    max-width: 90%;
  }
}

@media (max-width: 1200px) {
  /* Main container */
  .content {
    padding: 2.4rem;
  }
  /* Text */
  .text h1 {
    font-size: 3rem;
  }
  .text h2 {
    font-size: 1.6rem;
  }
  /* Inputs */
  #color-picker {
    width: 12rem;
    height: 12rem;
  }
  .input-color {
    --font-size-input: 1.4rem;

    width: 18rem;
    padding-block: 1rem;
  }
  .input-color#rgb .inputs {
    width: 3.6rem;
  }
  .color-label {
    padding-inline: .6rem;
    font-size: 1.2rem;
  }
  .btn-copy:not(.info) {
    width: 2rem;
    height: 2rem;
  }
  /* Tailwind containers/colors */
  .container .color-wrapper {
    --width-containers: 24rem;
  }
  .container .name-container {
    padding-inline: 1.4rem;
  }
  .container .name-container .name {
    font-size: 2rem;
  }
  .container .name-container .btn-copy {
    width: 2rem;
    height: 2rem;
  }
  .container .name-container .btn-expand img {
    width: 2.2rem;
    height: 2.2rem;
  }
  .container h4 {
    font-size: 1.4rem;
  }
  .container .info-container {
    bottom: -6.3rem;
    padding-inline: 1.6rem;
  }
  .container .rgb-container,
  .container .hex-container {
    gap: .6rem;
  }
  .btn-copy.info {
    width: 1.4rem;
    height: 1.4rem;
  }
  
  .ai-button, .gemini-info {
    font-size: 1.4rem;
  }
  .google-logo,
  .loading-icon,
  .goback-icon {
    width: 1.6rem;
    height: 1.6rem;
  }
}

@media (max-width: 1000px) {
  /* Inputs */
  #color-picker {
    width: 11rem;
    height: 11rem;
  }
  
  .ai-button, .gemini-info {
    font-size: 1.3rem;
  }
}

@media (max-width: 800px) {
  /* Main containers */
  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .main-container {
    width: 100%;
  }
  #main {
    height: fit-content;
  }
  .content {
    padding: 2.8rem;
    margin: 2.4rem auto;
  }
  /* Tailwind containers */
  #tailwind-colors {
    min-height: 400px;
    height: 100%;
  }
  .color-wrapper {
    margin: 3.2rem;
  }
  /* AI Button */
  .ai-button, .gemini-info {
    font-size: 1.2rem;
  }
  .gemini-info {
    position: fixed;
    z-index: 9;
    bottom: 1rem;
    right: 1rem;
    left: auto;
    transform: translate(0, 0);
    max-width: 150%;
  }
  .google-logo,
  .loading-icon,
  .goback-icon {
    width: 1.4rem;
    height: 1.4rem;
  }
}

@media (max-width: 400px) {
  /* Main container */
  .content {
    padding: 1.6rem;
  }
  /* Text */
  .text {
    margin-bottom: 2rem;
  }
  .text h1 {
    font-size: 2.4rem;
  }
  .text h2 {
    font-size: 1.4rem;
  }
  /* Main container of the inputs */
  .form {
    gap: 1.2rem;
  }
  /* Inputs */
  #color-picker {
    width: 8rem;
    height: 10rem;
  }
  .input-color {
    --font-size-input: 1.2rem;

    width: 14rem;
    padding-block: .8rem;
  }
  .input-color#rgb .inputs {
    width: 2.5rem;
  }
  .input-color#rgb .virgula span {
    font-size: 2rem;
  }
  .input-color#hex-container {
    padding-left: 1.2rem;
    justify-content: start;
    gap: .2rem;
  }
  .color-label {
    padding-inline: .6rem;
    font-size: 1.2rem;
    left: 2rem;
  }
  .btn-copy:not(.info) {
    width: 1.6rem;
    height: 1.6rem;

    top: -1.1rem;
    right: 2rem;
  }

  /* AI Button */
  .ai-button {
    font-size: 1.2rem;
  }
  .ai-button#goback {
    font-size: 1rem;
  }
  .google-logo,
  .loading-icon,
  .goback-icon {
    width: 1rem;
    height: 1rem;
  }
}